:root {
  font-family: serif;
  background: white;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 20px;
  background: white;
  color: black;
}

h1, button {
  font-family: inherit;
}
